@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* on focus */
.search-bar:focus-within {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 61.4px 4px rgba(255, 255, 255, 0.25);
}

.glow {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 61.4px 4px rgba(255, 255, 255, 0.25);
}

.bgblur {
  /* background blur */
  backdrop-filter: blur(10px);
}

.glowbtn:hover {
  border: 1px solid #fff;
  box-shadow: 0px 4px 61.4px 4px rgba(255, 255, 255, 0.3);
}
